<%- include ("header") %>

<form action="" method="post" class="flex flex-col justify-center items-center gap-10 py-20">
    <div>
        <h1 class="text-3xl font-semibold mb-4 text-center">Change Password</h1>
        <p>please enter a new password for your account</p>
    </div>
    <div class="relative mb-6" data-te-input-wrapper-init>
        <input required name="oldPassword" class="w-full outline-none border-2 focus:border-blue-600 rounded-md p-2" placeholder="Old Password" type="password">
    </div>
    <div class="relative mb-6" data-te-input-wrapper-init>
        <input required name="newPassword" class="w-full outline-none border-2 focus:border-blue-600 rounded-md p-2" placeholder="New Password" type="password">
    </div>
    <button type="submit" class="bg-green-500 px-4 py-2 rounded-lg text-white">Change Password</button>
</form>