<%- include ("header.ejs") %>

<form action="" method="post" class="flex flex-col justify-center items-center gap-10 py-20">
    <div>
        <h1 class="text-3xl font-semibold mb-4 text-center">Password Reset Page</h1>
        <p>please enter email of your account to receive a password reset link</p>
    </div>
    <div class="relative mb-6" data-te-input-wrapper-init>
        <input required name="email" class="w-full outline-none border-2 focus:border-blue-600 rounded-md p-2" placeholder="Email Address" type="text">
    </div>
    <button type="submit" class="bg-green-500 px-4 py-2 rounded-lg text-white">Send Email</button>
</form>